# Data Cleaning of Movies Dataset using Python

Starting by importing all the libraries and reading the dataset.

In [65]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import seaborn as sns
import datetime
import numpy as np

In [94]:
df=pd.read_csv(r"./movies.csv")
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [95]:
df.shape

(7668, 15)

Checking for incomplete data:

In [96]:
df.isna().sum()

name           0
rating        77
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

Handling the mising values with dropping the column with >30% missing values and then dropping the rest of the rows with missing values ( very few ,~200 )

In [97]:
df=df.drop('budget',axis=1)
df=df.dropna()
df.shape

(7412, 14)

In [98]:
df.dtypes

name         object
rating       object
genre        object
year          int64
released     object
score       float64
votes       float64
director     object
writer       object
star         object
country      object
gross       float64
company      object
runtime     float64
dtype: object

votes, gross, runtime need not have the descending zero after decimal so let's change them to integers.

In [99]:
df[['votes', 'gross','runtime']]=df[['votes', 'gross','runtime']].astype("int64")

Column released has grouped information like the country where the movie was released and on which date, this makes the column of type object and we are not able to utilise the date features. To change this we perform string manipulation and extract the date from the column.

In [100]:
mon={"January":1,"February":2,"March":3,"April":4,"May":5,"June":6,"July":7,"August":8,"September":9,"October":10,"November":11,"December":12}
for i in range(df.shape[0]):
    df['released'].iloc[i]=df['released'].iloc[i][:df['released'].iloc[i].index("(")]  #removing the country
    y=df['released'].iloc[i].split(", ")[-1]
    m=df['released'].iloc[i].split(" ")[0]
    if m in mon.keys():
        m="0"+str(mon[m])
    else:
        m=1
    d=df['released'].iloc[i].split(" ")[1].replace(",","")
    df['released'].iloc[i]=str(m)+"-"+str(d)+"-"+str(y)

c:\users\hp\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [101]:
df.dtypes

name         object
rating       object
genre        object
year          int64
released     object
score       float64
votes         int64
director     object
writer       object
star         object
country      object
gross         int64
company      object
runtime       int64
dtype: object

Let's drop any duplicate values that might be present in the dataset that are redundant.

In [102]:
df=df.drop_duplicates()
df.shape

(7412, 14)

Looks like there weren't any, we are good to go!

Columns with entry in free text form, tend to have a lot of inconsistent entries. Let's rectify that.

In [ ]:
pd.set_option('display.max_rows',None)

In [ ]:
len(df.company.unique())

In [ ]:
df.company.drop_duplicates().sort_values(ascending=True)

Most of the popular franchises are mentioned under multiple names like Marvel Enterprises, Marvel Entertainment, Marvel Studios which fall under the same entity. Let's solve that.

In [ ]:
for i in range(df.shape[0]):
    df['company'].iloc[i]=df['company'].iloc[i].split(" ")[0]

In [ ]:
len(df.company.unique())

We were able to reduce the categories to 1811 from 2242.